body {
  font-family: "Lato", sans-serif;
}

.menu-lateral {
  height: 100%;
  width: 200px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #111;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}

.menu-lateral a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu-lateral a:hover {
  color: #f1f1f1;
}

.menu-lateral .botao-fechar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.botao-fechar {
  color: #fff;
}

.botao-abrir {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.botao-abrir:hover {
  background-color: #444;
}

.div-botao {
  transition: margin-left .5s;
  padding: 16px;
}